{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#"><b>Star Wars</b> Explorer</a>
        <a href="#">Collections</a>
    </nav>
    
     {% block content %}

     {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    {% block script %}
    
    {% endblock %}
</body>
</html>