{% extends 'base.html' %}

{% block content %}
    <h2 class="ml-2"><a href="{{ object.file.url }}">{{ object.file_name}}</a></h2>
    <table class="table table-striped table-bordered ml-2">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                {% for column in columns %}
                <th>
                    <a href="{% url 'collection-count' object.pk%}?columns={{ column }}">{{ column }}</a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <th scope="row"> {{ forloop.counter }}</th>
                <td>{{ row.name }}</td>
                <td>{{ row.height }}</td>
                <td>{{ row.mass }}</td>
                <td>{{ row.hair_color }}</td>
                <td>{{ row.skin_color }}</td>
                <td>{{ row.eye_color }}</td>
                <td>{{ row.birth_year }}</td>
                <td>{{ row.gender }}</td>
                <td>{{ row.homeworld }}</td>
                <td>{{ row.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'collection-detail' object.pk %}?number_of_rows={{ number_of_rows }}" class="btn btn-primary btn-sm m-2">Load More</a>

{% endblock %}
