{% extends 'base.html' %}

{% block content %}
    <h1 class="ml-5 mt-3">Collections <a href="{% url 'fetch' %}" class="btn btn-success">Fetch</a></h1>

    <table class="table table-bordered ml-5">
        <tbody>
        {% for file in datasets %}
            <tr>
                <td>
                    <a href="{% url 'collection-detail' file.pk %}">{{ file.created_at }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}