{% extends 'base.html' %}

{% block content %}
    <div class="container m-2">
        <form method="get" action="{% url 'collection-count' object.pk %}" class="form-group">
            <select name="columns" size="10" multiple class="form-control">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-sm mt-2" type="submit">Count</button>
        </form>
    </div>

    <div class="d-flex flex-column">
    <table class="table table-striped table-bordered ml-2">
        <thead class="thead-light">
        {% for dict in table %}
            {% if forloop.counter == 1 %}
            <tr>
                {% for key in dict.keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
        </thead>
        <tbody>
        {% for dict in table %}
            <tr>
                {% for value in dict.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}