{% extends 'base.html' %}

{% block content %}
    <h1 class="ml-5 mt-3">Collections <a href="{% url 'fetch' %}" class="btn btn-success">Fetch</a></h1>

    <ul>
        {% for file in queryset %}
            <li>{{ file.created_at }}</li>
        {% endfor %}
    </ul>
    

{% endblock %}